{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends" : "airbnb-base",
  "rules" : {
    "no-console": "off",
    "prefer-destructuring": "off"
  }
}
