$colors: (
    primary: #d32f2f,
    secondary: grey,
);

@function color ($color_name) {
    @return map-get($colors, $color_name);
}

$mobile: 415px;
$tablet: 770px;
$tablet_desktop: 850px;
$desktop: 1024px;
$large_screens: 2000px;
$Xlarge_screens: 3000px;
