.header {
    @include size (1203px);
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.164);

    .onlineUsersCount {
        position: absolute;
        top: 10px;
        left: 80px;
        font-size: 1.2em;
        font-weight: bold;       
        
        .onlineUsersLogo {
            position: absolute;
            top: 5px;
            left: -70px;
        }

        .members {
            position: relative;
            left: -10px;
        }

        span {
            position: absolute;
            top: 25px;
            left: 5px;
            color: color(secondary);
            font-weight: normal;
            display: block;
        }

        .onlineCircle {
            @include size(8px, 8px);
            position: absolute;
            top: 35px;
            left: -10px;
            border-radius: 50%;
            background-color: rgb(12, 204, 12);           
        }
    }

    .logo {
        position: absolute;
        top: 12px;
        left: 260px;
    }

    h1 {
        position: absolute;
        font-weight: bold;
        font-size: 1.5em;
        top: -5px;
        left: 320px;
    }

    h2 {
        font-weight: normal;
        font-size: 1em;
        position: absolute;
        top: 24px;
        left: 320px;
    }

    .userName {
        position: absolute;
        top: 12px;
        right: 35px;
        color: color(secondary);

        span {
            display: block;
            color: #000;
            font-weight: bold;
        }

        img {
            position: absolute;
            top: 0;
            left: -55px;
        }
    }
}
