.messageBody {
    position: relative;

    .msgForm {
        @include size(100%);
        position: absolute;
        left: 5px;
        bottom: 10px;
    
        .msgInput {
            @include size (85%, 25px);
            margin-top: 30px;
            border: none;

            &:focus {
                outline: none;
            }

            @include breakpoint ($tablet) {
                margin-left: 5px;
            }
        }

        .submitBtn {
            @include size (12%, 30px);
            background-color: color(primary);
            border: 1px solid color(primary);
            border-radius: 10px;
            color: #fff;
            font-weight: bold;
        }
    }
}
