.messageList {
    @include size (953px, 480px);
    border-left: 1px solid rgba(128, 128, 128, 0.164);
    border-right: 1px solid rgba(128, 128, 128, 0.164);
}

.msgsDialog {
    @include size (915px, 480px);
    position: relative;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    list-style: none;

    .message {
        max-width: 280px;
        word-wrap: break-word;
        padding: 0 10px;
        display: inline-block;
        border-radius: 10px;
    }

    .name, .time {
        font-size: 0.8em;
        color: #808080;
        font-weight: bold;
        position: absolute;
    }
    
    li {
        @include size (300px);
        position: relative;
        margin-top: 40px;
        
        img {
            position: absolute;
            bottom: 0;
            left: -30px;
        }

        .name, .time {
            left: 5px;
        }
        
        .name {
            top: -18px;
        }
        
        .time {
            bottom: -15px;
        }

        .message {
            background-color: rgba(128, 128, 128, 0.164);
        }
        
        
    }
    
    .senderMsg {
        align-self: flex-end;
        margin-right: 50px;
        color: #fff;
        text-align: right;
        
        img {
            left: 305px;
        }
        
        .message {
            background-color: color(primary); 
        }

        .name, .time {
            left: unset;
            right: 5px;
        }
    }
}
