.onlineUsers {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    li {
        margin-bottom: 15px;
    }

    .backArrow {
        order: 1;
        font-size: 1.5em;
        margin: 10px 0 0 20px;
        color: color(backArrow);
    }

    .onlineUsersCount {
        position: absolute;
        top: 15px;
        left: 50px;
        font-size: 1.2em;
        font-weight: bold;


        span {
            position: absolute;
            top: 20px;
            color: color(secondary);
            font-weight: normal;
            display: block;
        }
    }

    .onlineUsersList {
        list-style: none;
        position: relative;
        top: 80px;
        left: 10px;

        .name {
            position: absolute;
            left: 100px;
            font-weight: bold;
        }
    }
}