.onlineUsers {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 480px;

    .onlineUsersList {
        list-style: none;
        position: relative;
        left: -30px;
         
        li {
            margin-bottom: 15px;
            position: relative;

            .name {
                position: absolute;
                left: 60px;
                font-weight: bold;
            }
    
            .designation {
                position: absolute;
                top: 20px;
                left: 60px;
                font-size: 0.9em;
                color: color(secondary);
            }

            .logedUser {
                position: absolute;
                top: -2px;
                right: -25px;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
        
    }
}