body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 70px 1fr 60px;
  grid-template-columns: 250px 1fr;
}
.grid .header {
  grid-row: 1;
  grid-column: 1/3;
}
.grid .onlineUsers {
  grid-row: 2/3;
  grid-column: 1;
}
.grid .messageList {
  grid-row: 2;
  grid-column: 2;
}
.grid .messageBody {
  grid-row: 3;
  grid-column: 2;
}

.messageList {
  width: 953px;
  height: 480px;
  border-left: 1px solid rgba(128, 128, 128, 0.164);
  border-right: 1px solid rgba(128, 128, 128, 0.164);
}

.msgsDialog {
  width: 915px;
  height: 480px;
  position: relative;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  list-style: none;
}
.msgsDialog .message {
  max-width: 280px;
  word-wrap: break-word;
  padding: 0 10px;
  display: inline-block;
  border-radius: 10px;
}
.msgsDialog .name, .msgsDialog .time {
  font-size: 0.8em;
  color: #808080;
  font-weight: bold;
  position: absolute;
}
.msgsDialog li {
  width: 300px;
  position: relative;
  margin-top: 40px;
}
.msgsDialog li img {
  position: absolute;
  bottom: 0;
  left: -30px;
}
.msgsDialog li .name, .msgsDialog li .time {
  left: 5px;
}
.msgsDialog li .name {
  top: -18px;
}
.msgsDialog li .time {
  bottom: -15px;
}
.msgsDialog li .message {
  background-color: rgba(128, 128, 128, 0.164);
}
.msgsDialog .senderMsg {
  align-self: flex-end;
  margin-right: 50px;
  color: #fff;
  text-align: right;
}
.msgsDialog .senderMsg img {
  left: 305px;
}
.msgsDialog .senderMsg .message {
  background-color: #d32f2f;
}
.msgsDialog .senderMsg .name, .msgsDialog .senderMsg .time {
  left: unset;
  right: 5px;
}

.messageBody {
  position: relative;
}
.messageBody .msgForm {
  position: absolute;
  left: 5px;
  bottom: 20px;
}
.messageBody .msgForm .msgInput {
  width: 830px;
  height: 25px;
  margin-top: 30px;
  border: none;
}
.messageBody .msgForm .msgInput:focus {
  outline: none;
}
.messageBody .msgForm .submitBtn {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.header {
  width: 1203px;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.164);
}
.header .onlineUsersCount {
  position: absolute;
  top: 10px;
  left: 80px;
  font-size: 1.2em;
  font-weight: bold;
}
.header .onlineUsersCount .onlineUsersLogo {
  position: absolute;
  top: 5px;
  left: -70px;
}
.header .onlineUsersCount .members {
  position: relative;
  left: -10px;
}
.header .onlineUsersCount span {
  position: absolute;
  top: 25px;
  left: 5px;
  color: grey;
  font-weight: normal;
  display: block;
}
.header .onlineUsersCount .onlineCircle {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 35px;
  left: -10px;
  border-radius: 50%;
  background-color: #0ccc0c;
}
.header .logo {
  position: absolute;
  top: 12px;
  left: 260px;
}
.header h1 {
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  top: -5px;
  left: 320px;
}
.header h2 {
  font-weight: normal;
  font-size: 1em;
  position: absolute;
  top: 24px;
  left: 320px;
}
.header .userName {
  position: absolute;
  top: 12px;
  right: 35px;
  color: grey;
}
.header .userName span {
  display: block;
  color: #000;
  font-weight: bold;
}
.header .userName img {
  position: absolute;
  top: 0;
  left: -55px;
}

.onlineUsers {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 480px;
}
.onlineUsers .onlineUsersList {
  list-style: none;
  position: relative;
  left: -30px;
}
.onlineUsers .onlineUsersList li {
  margin-bottom: 15px;
  position: relative;
}
.onlineUsers .onlineUsersList li .name {
  position: absolute;
  left: 60px;
  font-weight: bold;
}
.onlineUsers .onlineUsersList li .designation {
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 0.9em;
  color: grey;
}
.onlineUsers .onlineUsersList li .logedUser {
  position: absolute;
  top: -2px;
  right: -25px;
  font-weight: bold;
  font-size: 1.1em;
}

/*# sourceMappingURL=style.css.map */
